<div class="new"><%= link_to image_tag('new.png', :alt=>"Make a new paste."), new_paste_path %></div>
<table class="index">
<% @pastes.each do |paste| %>
  <tr>
	<td>
		<%= time_ago_in_words(paste.created_at) %> ago,<br/>
		<span class="author"><%=h paste.author %></span> pasted some <%=h paste.language %> code<br/>
		<span class="title"><%= paste_title(paste.title) %></span>
	</td>
	<td><%= link_to image_tag('show.png', :alt=>"Display this paste."), paste %></td>
  </tr>
<% end %>
</table>
