<%= set_focus "paste_body" %>
<% form_for(@paste) do |f| %>
  <%= f.error_messages %>
<%= f.text_field :author, :value=>'anonymous' -%>
<%= f.text_field :title, :value=>'untitled' -%>
<%= f.select :language, languages %><br>
    <%= f.text_area :body %><br/>
    <%= link_to image_tag('back.png'), pastes_path %>
	<div class="right"><%= image_submit_tag 'save.png' %></div>
<% end %>