<p>
	<%= time_ago_in_words(@paste.created_at) %> ago,
	<%=h @paste.author %> pasted some <%=h @paste.language %> code
	<%= paste_title(@paste.title) %> below:
</p>
	
  <%= @code %>



<%= link_to 'Edit', edit_paste_path(@paste) %> |
<%= link_to 'Back', pastes_path %> | 
<%= link_to 'Toggle Line Numbers', toggle(params[:line_numbers]) %>